<div class='form-container'>
    <textarea onlyGrow='true'  autosize   autocomplete="off" (keyup)="onChangeTextTitle($event.target.value)" [(value)]="textInput" [className]="neonColorClass + ' dynamicNeonTitle ' + neonTypoClass "
     style="align-self: center; text-align: center; letter-spacing: 2px;"  *ngIf="userChoices[0] === 'text' && userChoices[3] === 'typo' " ></textarea>
        <!-- <h2   [className]="neonColorClass + ' ' + neonTypoClass " style="align-self: center; text-align: center; letter-spacing: 2px; width: 100%;" >{{textInput}}</h2> -->
  
  
    <aw-wizard    style="width: 100%;">
      <div class="neon-wizard-container row">
        <div class="forBigPussy col-3"></div>
        <aw-wizard-step stepTitle="" class="col-md-6 col-sm-10 step-container">
          <h4 class="neon-wizard-header flex1">Faîtes votre choix</h4>
  
          <div class="neon-wizard-btn-container  row flex3 ">  
            <button type="button" class="form-btn col-md-4 col-sm-12" (click)="onCompleteStep(0, 'text', null)"
              awNextStep>TEXTE</button>
            <button type="button" class="form-btn col-md-4 col-sm-12" (click)="onCompleteStep(0, 'image', null)"
              awNextStep>IMAGE</button>
          </div>
  
  
        </aw-wizard-step>
        <aw-wizard-step *ngIf="!finalStep "  stepTitle="" class="col-md-6 col-sm-10  step-container">
          <div *ngIf="userChoices[0] === 'text'">
            <div class="neon-wizard-header">
              <h5>Ecrivez votre texte</h5>
            </div>
            <input    #mainInput  autocomplete="off" file='text' (keyup)="onChangeTextTitle($event.target.value)" placeholder="" [(value)]="textInput"
              class="basic-input-text mb5  mt5" />
  
          </div>
          <div *ngIf="userChoices[0] === 'image'">
            <div class="neon-wizard-header">
              <h5>Importer votre image</h5>
            </div>
            <input autocomplete="off" (change)="onSelectFile($event)"  type="file"   class="basic-input-form"/>
  <!-- 
            <div   class="money">
                <input (change)="onSelectFile($event)" type="text" class="numberOnly" autocomplete="off" maxlength="8" /><div>$</div>                      
            </div>      -->
  
  
            <div class="neon-wizard-header">
              <h4>Une info en particulier à nous donner ?</h4>
            </div>
            <textarea (change)="onChangeAdditionnalInfo($event.target.value)" [value]="imageAdditionalInfo" placeholder=""
              class="large-input">
  
                                </textarea>
  
          </div>
          <!-- ||  -->
          <div class="neon-wizard-btn-container row pb5">
            <button  class="prev-btn col-md-3 col-sm-10" type="button" awPreviousStep>Précedent</button>
            <button [ngClass]="textInput.trim() === ''? 'next-btn col-md-3 col-sm-10 disabled' : 'next-btn col-md-3 col-sm-10'" type="button" (click)="onCompleteStep(3, 'typo', null)"
              [disabled]="textInput.trim() === '' " awNextStep>Suivant</button>
          </div>
  
        </aw-wizard-step>
        <aw-wizard-step  *ngIf="userChoices[0] === 'text' && !finalStep" stepTitle="" class="col-md-6 col-sm-10  step-container">
  
          <div class="neon-wizard-header">
            <h5>Choisissez la typographie</h5>
          </div>
          <div class="form-style-container pb5">
            <!-- <div (click)="styleSelected = 0" [ngClass]="{'style-item yellow-selected': styleSelected===0, 'style-item':styleSelected!=='0' }" ></div>
                              <div (click)="styleSelected = 1" [ngClass]="{'style-item yellow-selected': styleSelected===1, 'style-item':styleSelected!=='1' }" ></div>
                              <div (click)="styleSelected = 2" [ngClass]="{'style-item yellow-selected': styleSelected===2, 'style-item':styleSelected  !=='2' }"  ></div> -->
  
                              <div class="carousel">
                                  <!-- slides -->
                                
                                  <!-- navigations & thumbnails -->
                                  <div class="navigations">
            
                                    <div>
                                      <ol class="thumbnails" *ngIf="slides.length > 1 && isThumbnailsVisible">
                                        <li  [style.backgroundImage]="'url('+ slide.url +')'" [class.is-active]="i === activeSlides.current" #carouselItem *ngFor="let slide of slides; let i = index;" (click)="select(i)">
                                         
                                        </li>
                                      </ol>
                                    </div>
                       
                                  </div>
                                </div>
  

          </div>
       
          <div class="neon-wizard-btn-container row ">
            <button class="prev-btn col-md-3 col-sm-12" type="button" (click)="onCompleteStep(3, 'erase', null)"  awPreviousStep>Précedent</button>
            <button [ngClass]="!selectedTypo? 'next-btn col-md-3 col-sm-12 disabled' : 'next-btn col-md-3 col-sm-12'"  type="button"  [disabled]="!selectedTypo"  awNextStep>Suivant</button>
          </div>
  
        </aw-wizard-step>
        <aw-wizard-step *ngIf="!finalStep "  stepTitle="" class="col-md-6 col-sm-10  step-container">
  
          <div    class="neon-wizard-header">
            <h4>Choisissez une couleur </h4>
          </div>
  
          <!-- <div class="wrapper"> -->
            <!-- <div class="item float-item"> -->
  
              
          <div  class="mt5 mb5 row colorCont">
            <div  [ngClass]=" selectedColorUI=== i? ' yellow-selected col-md-3  col-sm-6 colorIcon' : '  col-md-3 col-sm-6 colorIcon'"   [style.backgroundImage]="'url('+ color.url +')'"   (click)="onSelectColor(color, i)" 
            *ngFor="let color of colorList;  let i = index">


            <!-- <div class=format-subtitle>{{format.width}}</div>  -->
          </div>  
    
            </div>
              <!-- <ul id="flexible">
                <li [style.background-color]="color.color"  (click)="onSelectColor(color)" *ngFor="let color of colorList">
                </li>
               
              </ul> -->
            <!-- </div> -->
          <!-- </div> -->
  
  
          <div class="neon-wizard-btn-container row flex0">
            <button  class="next-btn col-md-3 col-sm-12"  type="button" awPreviousStep>Précedent</button>
            <button [ngClass]="!selectedColor? 'next-btn col-md-3 col-sm-12 disabled' : 'next-btn col-md-3 col-sm-12'"  type="button" [disabled]="!selectedColor" awNextStep>Suivant</button>
  
          </div>
  
        </aw-wizard-step>
        <aw-wizard-step  *ngIf="!finalStep "  stepTitle="" class="col-md-6 col-sm-10  step-container">
  
          <div class="neon-wizard-header">
            <h5>Choisissez votre format</h5>
          </div>
  
          <div  class=" row flex3">
            <div  [ngClass]=" selectedFormatSize=== i? 'size yellow-selected  col-3' : 'size  col-3'"  [style.backgroundImage]="'url('+ format.url +')'"  (click)="selectedFormatSize = i"
              *ngFor="let format of formatSizes;  let i = index">
  
  
              <!-- <div class=format-subtitle>{{format.width}}</div>  -->
            </div>
  
          </div>
          <div class="row ">
              <div  class='sizeName  col-3'
              *ngFor="let format of formatSizes;  let i = index">
             {{format?.width}} cm
    
    
              <!-- <div class=format-subtitle>{{format.width}}</div>  -->
            </div>
  
          </div>
          <div class="neon-wizard-btn-container mt5 row flex1 pb5">
            <button class="prev-btn col-md-3 col-sm-12" type="button" awPreviousStep>Précedent</button>
            <button  [ngClass]="!selectedFormatSize? 'next-btn col-md-3 col-sm-12 disabled' : 'next-btn col-md-3 col-sm-12'"  type="button" [disabled]="!selectedFormatSize"  awNextStep>Suivant</button>
          </div>
  
        </aw-wizard-step>
        <aw-wizard-step *ngIf="!finalStep "  stepTitle="" class="col-md-6 col-sm-10  step-container">
          <h5 class="neon-wizard-header flex1 mb5">Choisissez votre support</h5>
          
          <div class="neon-wizard-btn-container row flex3 ">
            <div  [style.backgroundImage]="'url('+ '../.././assets/img-support-detoure-19.png' +')'"   id='supportImg' [ngClass]=" imageSupportSelected==='détouré'? 'yellow-selected-detoure col-md-5 col-sm-12' : 'col-md-5 col-sm-12 caca'"
             (click)="imageSupportSelected = 'détouré'" >
              </div>
  
              <div  [style.backgroundImage]="'url('+ '../.././assets/img-support-standard-18.png' +')'"   id='supportImg'   [ngClass]=" imageSupportSelected==='standard'? 'yellow-selected-standard col-md-5 col-sm-12 ' : 'col-md-5 col-sm-12'"
              (click)="imageSupportSelected = 'standard'" >
            </div>
    
  
  
  
            
          </div>
          <div class="neon-wizard-btn-container mt5 row">
            <button class="prev-btn  col-md-3 col-sm-12" type="button" awPreviousStep>Précedent</button>
            <button [ngClass]="!imageSupportSelected? 'next-btn col-md-3 col-sm-12 disabled' : 'next-btn col-md-3 col-sm-12'" type="button" [disabled]="!imageSupportSelected" (click)="onCompleteStep(4, imageSupportSelected, null)"  awNextStep>Suivant</button>
  
          </div>
  
        </aw-wizard-step>
  
        <aw-wizard-step *ngIf="!finalStep "  stepTitle="" class="col-md-6 col-sm-10  step-container">
          <h5 class="neon-wizard-header flex1">Vous souhaitez faire briller un projet</h5>
  
          <div class="neon-wizard-btn-container row flex3 mt5 mb5">
            <div style="display: flex;" [ngClass]=" projectType==='business'? 'yellow-selected form-btn  col-md-5 col-sm-12' : 'form-btn  col-md-5 col-sm-12'" (click)="onCompleteStep(5, 'business', null)"
              ><span>Professionnel</span></div>
            <div  style="display: flex;" [ngClass]=" projectType==='consumer'? 'yellow-selected form-btn  col-md-5 col-sm-12  ' : 'form-btn  col-md-5 col-sm-12'"  (click)="onCompleteStep(5, 'consumer', null)"
              ><span>Personnel</span></div>
  
  
          </div>
  
          <div class="neon-wizard-btn-container row">
            <button class="prev-btn  col-md-3 col-sm-12" type="button" awPreviousStep>Précedent</button>
            <button  [ngClass]="!projectType? 'next-btn col-md-3 col-sm-12 disabled' : 'next-btn col-md-3 col-sm-12'"  [disabled]="!projectType"  class="next-btn  col-md-3 col-sm-12" type="button" awNextStep>Suivant</button>
          </div>
        </aw-wizard-step>
  
  
  
  
  
        <aw-wizard-step *ngIf="!finalStep "  stepTitle="" class="col-md-6 col-sm-10  step-container">
  
          <div *ngIf="projectType === 'consumer'  && !finalStep " class="col-md-12 col-sm-12">
            <h5 class="neon-wizard-header ">Obtenez votre dessin technique en {{suceMaBite}}</h5>
  
  
  
            <div class="neon-wizard-input-cont mb3">
  
              <div *ngIf="signUp" class='user-info-row-cont nestedInput'>
                <span class="user-info-row-title">Prénom</span>
                <input autocomplete="off" (change)="onChangeUserInfo('nickname', $event.target.value)"
                  [value]="userInfoPerso['nickname'] || ''" class="basic-input smallHeight " />
              </div>
  
  
              <div *ngIf="signUp" class='user-info-row-cont nestedInput'>
                <span class="user-info-row-title">Nom</span>
                <input autocomplete="off" (change)="onChangeUserInfo('name', $event.target.value)" [value]="userInfoPerso['name'] || ''"
                  class="basic-input smallHeight " />
              </div>
  
            </div>
  
  
            <div class='user-info-row-cont'>
              <span class="user-info-row-title">Adresse mail</span>
              <input autocomplete="off" (change)="onChangeUserInfo('email', $event.target.value)" [value]="userInfoPerso['email'] || ''"
                class="basic-input smallHeight " />
  
            </div>
  
  
            <div class='user-info-row-cont'>
              <span class="user-info-row-title">Mot de passe</span>
              <input autocomplete="off" type="password" (change)="onChangeUserInfo('password', $event.target.value)"
                [value]="userInfoPerso['password'] || ''" class="basic-input smallHeight mb3 " />
              <span class='user-info-row-title textcenter'>En cliquant sur "envoyer" vous acceptez les <a
                  href="#">Conditions g énérales d'utilisation</a></span>
  
  
            </div>
            <div class="neon-wizard-btn-container row">
              <button class="prev-btn  col-md-3 col-sm-12" type="button" awPreviousStep>Précedent</button>
              <button class="next-btn  col-md-3 col-sm-12" type="button" awNextStep><a href="#open-modal">Envoyer</a></button>
  
            </div>
  
            <div class="row toggleCont">
              <label><input  autocomplete="off" (change)="signuptrue()" type="checkbox" class="ios-switch" />
                <div>
                  <div></div>
                </div>
              </label>
              <span class="tailleperso">Déjà membre ?</span>
            </div>
            <!-- <span (click)="signuptrue()"  style='margin-top: -10px;' class='user-info-row-title textcenter'>Déja membre ? <a  href="#">Connexion</a></span> -->
  
          </div>
  
  
          <div *ngIf="projectType === 'business' && !finalStep " class=" col-md-12 col-sm-12 ">
            <h5 class="neon-wizard-header ">Obtenez votre devis gratuit</h5>
            <div class='user-info-row-cont'>
              <span class="user-info-row-title">Société</span>
              <input  autocomplete="off" type="text" (change)="onChangeUserInfo('société', $event.target.value)" [value]="userInfoPerso['société'] || ''"
                class="basic-input smallHeight mb3 " />
            </div>
  
            <div class="neon-wizard-input-cont mb3">
  
              <div class='user-info-row-cont nestedInput'>
                <span class="user-info-row-title">Prénom</span>
                <input autocomplete="off" type="text" (change)="onChangeUserInfo('nickname', $event.target.value)"
                  [value]="userInfoPerso['nickname'] || ''" class="basic-input smallHeight " />
              </div>
  
  
              <div class='user-info-row-cont nestedInput'>
                <span class="user-info-row-title">Nom</span>
                <input autocomplete="off"  type="text" (change)="onChangeUserInfo('name', $event.target.value)" [value]="userInfoPerso['name'] || ''"
                  class="basic-input smallHeight " />
              </div>
  
            </div>
  
            <div class='user-info-row-cont'>
              <span class="user-info-row-title">Adresse mail</span>
              <input autocomplete="off" type="email" (change)="onChangeUserInfo('email', $event.target.value)" [value]="userInfoPerso['email'] || ''"
                class="basic-input smallHeight " />
  
            </div>

            <div class='user-info-row-cont'>
              <span class="user-info-row-title">Mot de passe</span>
              <input autocomplete="off" type="password" (change)="onChangeUserInfo('password', $event.target.value)" [value]="userInfoPerso['password'] || ''"
                class="basic-input smallHeight " />
  
            </div>
            <span class='user-info-row-title mt3 textcenter'>En cliquant sur "Envoyer" vous acceptez les <a
                href="#">Conditions générales d'utilisation</a></span>
  
            <div class="neon-wizard-btn-container row">
              <button class="prev-btn  col-md-3 col-sm-12" type="button" awPreviousStep>Précedent</button>
              <button class="next-btn col-md-3 col-sm-12" type="button" awNextStep><a href="#open-modal">Envoyer</a></button>
  
            </div>
          </div>
  
  
  
        </aw-wizard-step>

        <div *ngIf="finalStep && projectType !== 'business'" class="col-md-6 col-sm-10  step-container">
          <div class="neon-canvas2" [style.backgroundImage]="'url('+ '../.././assets/Mercipage-03.png' +')'" ></div>

          <div    class="neon-wizard-header">
            <h4>Demande envoyée</h4>
          </div>
          
          <span    class="neon-wizard-descr-merci">
            Merci pour votre demande. Vous recevrez un email demain pour vous notifier de l'ajout du dessin technique à votre espace.
          </span>
  
  
          <div class="neon-wizard-btn-container row flex0">
            <button class='next-btn col-md-3 col-sm-12' type="button" (click)="goToEC();">Accéder à mon espace</button>
  
          </div>
  
        </div>
        
        <div *ngIf="finalStep && projectType === 'business'" class="col-md-6 col-sm-10  step-container">
          <div class="neon-canvas2" [style.backgroundImage]="'url('+ '../.././assets/Mercipage-03.png' +')'" ></div>

          <div    class="neon-wizard-header">
            <h4>Demande envoyée</h4>
          </div>
          
          <span    class="neon-wizard-descr-merci">
            Merci pour votre demande. Vous recevrez un email demain avec le devis de votre néon.
          </span>
  
  
          <div class="neon-wizard-btn-container row flex0">
            <button class='next-btn col-md-3 col-sm-12' type="button" (click)="goToAcceuil();">Retourner à l'acceuil</button>
  
          </div>
  
        </div>
        <div class="forBigPussy col-2"></div>
      </div>
  
  
  
  
    </aw-wizard>
  
    <!-- <div *ngIf="signUp">
          CACAC
            <app-login ></app-login>
  
        </div> -->
    <div class="container">
  
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#" title="Close" class="modal-close">Close</a>
          <h1>Récapitulatif de votre demande: </h1>
          <div style="height: 300px;">
  
            <table>
              <thead>
  
              </thead>
              <tbody>
                <tr>
                  <td style="font-family: Mukta-Bold;" data-column="">
                    {{mainChoice === 'text' ? 'Texte' :' Fichier img'}}</td>
                  <td style="font-family: Mukta-Regular;" data-column="Etat">{{textInput  | titlecase}}</td>
                </tr>
                <tr>
                  <td style="font-family: Mukta-Bold;" data-column="">Typographie</td>
                  <td style="font-family: Mukta-Regular;" data-column="Etat">{{selectedTypo  | titlecase}}</td>
                </tr>
                <tr >
                    <td  style="font-family: Mukta-Bold;" data-column="">Couleurs</td>
                    <td style="font-family: Mukta-Regular;" data-column="Etat">{{selectedColor  | titlecase}}</td>
                  </tr>
                <tr *ngIf="formatSizes[selectedFormatSize]">
                  <td style="font-family: Mukta-Bold;" data-column="">Hauteur</td>
                  <td style="font-family: Mukta-Regular;" data-column="Etat">{{formatSizes[selectedFormatSize].width }} cm
                  </td>
                </tr>
                <tr >
                    <td  style="font-family: Mukta-Bold;" data-column="
                    ">Support</td>
                    <td style="font-family: Mukta-Regular;" data-column="Etat">{{imageSupportSelected  | titlecase}}</td>
                  </tr>
                <tr>
    
  
              </tbody>
            </table>
  
          </div>
          <div *ngIf="loginFailed" class="errorMessage">{{signUpError}}</div>
          <button (click)="onSubmitForm()" style="float: right;" class="next-btn" type="button"> <a href="#">Valider</a></button>
  
        </div>
  
  
      </div>
      </div>
  
      <div *ngIf="loading" class="blendContainer">
        <svg id="progress-circle" class="animation-circle" viewBox="0 0 50 50">
          <!--<circle cx="25" cy="25" r="20" fill="none" stroke="#e2ecf8" stroke-width="7" />-->
          <circle stroke="#f4cc20" class="path" cx="25" cy="25" r="20" fill="none" stroke-width="8.3"></circle>
        </svg>
      </div>
  
     